html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border: 1px solid white;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid white;
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}




.column-background {
  background-color: #97db9a;
}


.column-background {
  background-color: #97db9a;
}

.column-fixed-width {
  width: 40px;
}

.column-background-border {
  background-color: #dcc48e;
  border: 4px solid #c1437a;
}